/* all screen css begins here */
#existing_stores_div {
    max-width: 70vw;
    margin: 3em 0 0 15vw;
}

.each_existing_store_div {
    display: flex;
    flex-direction: row;
}

.each_existing_store_profile_picture_div {
    width: fit-content;
    padding: 0 3%;
    text-align: center;
}

.each_existing_store_description_div {
    flex: 1;
    align-items: center;
}

.each_existing_stores_profile_picture {
    width: 8em;
    height: 8em;
    object-fit: cover;
    border-radius: 50%;
}

#store_home_page_header_div {
    display: flex;
    background-color: var(--platinum);
    margin-top: -5vh;
    padding: 3vh 0;
}

#store_profile_picture_div {
    width: 40%;
    text-align: right;
}

#store_name_div {
    flex: 1 0 60%;
}

#store_name_div h1 {
    text-align: left;
    color: var(--feldgrau);
    margin: 1em 0 0 1.4em;
}

#store_name_div h2 {
    text-align: left;
    margin-left: 2.35em;
    font-size: 1.5em;
    color: var(--feldgrau);
}

#store_name_div h3 {
    text-align: left;
    margin-left: 3.2em;
    font-size: 1.1em;
    color: var(--feldgrau);
}

#store_profile_picture {
    width: 12rem;
    height: 12rem;
    border-radius: 50%;
    object-fit: cover;
}

#tab_btns_div {
    display: flex;
    gap: 0.5em;
    justify-content: space-between;
    width: 100%;
    border-bottom: 1px solid var(--feldgrau);
}

#tab_btns_div button {
    width: 70em !important;
    border: none;
    border-radius: 10px 10px 0 0;
    background-color: var(--platinum);
    color: var(--feldgrau);
    cursor: pointer;
    padding: 0.2em;
    font-size: 21px;
    font-weight: 1000;
}
/* all screen css ends here */

/* mobile only css begins here */
@media only screen and (max-width: 991.9px) {
    #existing_stores_div {
        max-width: 95vw;
        margin-left: 2.5vw;
    }

    #store_home_page_header_div {
        flex-direction: column;
    }

    #store_profile_picture_div {
        width: 100%;
        text-align: center;
    }
    
    #store_name_div {
        flex: 1 0 60%;
        text-align: center;
    }
    
    #store_name_div h1 {
        text-align: center;
        margin: unset;
        font-size: 2em;
    }

    #store_name_div h2 {
        text-align: center;
        margin: unset;
        font-size: 1.5em;
    }
    
    #store_name_div h3 {
        text-align: center;
        margin-left: unset;
        font-size: 1em;
    }

    #store_profile_picture {
        width: 8rem;
        height: 8rem;
        border-radius: 50%;
        object-fit: cover;
    }
    
    #nav_tabs {
        justify-content: center;
    }

    #tab_btns_div {
        width: 90vw;
        margin-left: 5vw;
    }

    .each_existing_stores_profile_picture {
        width: 6.5em;
        height: 6.5em;
        margin-bottom: 3%;
    }

    .each_existing_store_profile_picture_div {
        width: fit-content;
        text-align: left;
        padding-right: 2.5em;
        height: fit-content;
    }
    
    .each_existing_store_div_title {
        height: fit-content;
    }

    .each_existing_store_div_title h3 {
        text-align: left;
        align-self: center;
    }
}
/* mobile only css ends here */

/* responsive css to make the store about page navbar titles scrollable begins here */
@media only screen and (max-width: 530px) {
    #tab_btns_div {
        overflow-x: scroll;
    }

    #tab_btns_div button {
        min-width: 155px;
    }

    .each_existing_store_div_paragraphs {
        margin: 0.8em -0.9em 0 -5em;
        position: static;
    }

    .each_existing_stores_profile_picture {
        width: 4.7em;
        height: 4.7em;
    }

    .each_existing_store_profile_picture_div {
        padding-right: 0.3em;
        margin-left: -1.2em;
    }

    .each_existing_store_div_title {
        height: 5em;
    }
}
/* responsive css to make the store about page navbar titles scrollable ends here */

/* desktop only css begins here */
@media only screen and (min-width: 992px) {
    #store_page_content_div {
        width: 70vw;
        margin-left: 15vw;
    }

    #nav_tabs {
        margin-left: 10vw;
    }

    #store_about_table {
        font-size: +19px;
    }
}
/* desktop only css ends here */