/* all screen width css begins here */

#all_products_div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 1em;
    margin-top: 3em;
    padding: 0 0.5em;
}

.each_product_div {
    width: 18rem;
    height: 27rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    overflow: hidden;
    cursor: pointer;
    transition: all 0.15s;
	border-radius: 13px;
}

.each_product_div a {
    width: 100%;
    font-size: 1.35rem;
}

.product_picture_div {
    background-color: var(--platinum);
    width: 100%;
    height: 80%;
    z-index: 100;
    display: flex;
    align-items: center;
}

.product_picture_div button {
    cursor: pointer;
    pointer-events: auto;
    border-radius: 50%;
    height: 35px;
    width: 33px;
    border: none;
    padding: 5px 0 0 0;
    background-color: var(--light-gray);
    text-align: center;
    position: absolute;
    opacity: 0.6;
}

.product_picture_div button:hover {
    opacity: 1;
}

.prev_pic {
    left: 2%;
    z-index: 130;
}

.next_pic {
    right: 2%;
    z-index: 130;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    pointer-events: none;
}

.product_info_div {
    background-color: var(--light-gray);
    width: 100% !important;
    flex: 1;
    text-align: center;
    color: var(--platinum);
    z-index: 150;
	position: relative;
	display: flex;
	flex-direction: column;
}

.product_info_div .product_name_span {
    max-height: 70px !important;
    display: block;
}

.purchase_product {
    font-size: 1.5rem;
    width: 96%;
    height: 2em;
    margin: 0.25em 2%;
    cursor: pointer;
    border: 1px solid var(--light-gray);
    background-color: var(--white);
    color: var(--light-gray);
	border-radius: 10px;
}

.purchase_product:hover {
    border: 1px solid var(--white);
    background-color: var(--light-gray);
    color: var(--white);
}

.carousel-item .product_picture {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

.slide_show_pictures_link_tag {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}
/* all screen width css ends here */

/* desktop only css begins here */
@media only screen and (min-width: 992px) {
    .each_product_div:hover {
        margin-top: -7px;
        box-shadow: 0 0 5px var(--feldgrau);
    }

    #signup_h1,
    #login_h1 {
        margin-top: 3.5em;
    }

    #add_product_h2 {
        margin: 4.5em 0 1em 0;
    }

    #our_products_h3 {
        margin-top: 5em;
    }
}
/* desktop only css ends here */

/* mobile only css begins here */
@media only screen and (max-width: 991.9px) {
    #signup_h1,
    #login_h1,
    #add_product_h2,
    #our_products_h3 {
        margin-top: 4em;
    }
}
/* mobile only css ends here */

/* css to enable 2x* grid on mobile begins here */
@media only screen and (max-width: 675.9px) {
    .each_product_div a {
        font-size: 0.85rem;
    }

    .product_info_div span {
        max-height: 40px !important;
    }

    #all_products_div {
        margin-top: 1em;
        justify-content: center;
        gap: 1.4em;
    }
    
    .each_product_div {
        width: 43vw;
        height: 17em;
        gap: 0.1em;
    }
    
    .purchase_product {
        font-size: 0.65rem;
    }
}
/* css to enable 2x* grid on mobile ends here */
