{% extends "layout.html" %}

{% block title %}
    Add Product
{% endblock title %}

{% block main %}

    <h2 id="add_product_h2">Add Product</h2>

    <form action="{{ url_for("all_routes.add_product") }}" method="POST" id="signup_form" enctype="multipart/form-data">
            
        <div class="form-group">
            <label for="product_name_input">Product Name</label>
            <input type="text" name="product_name" autofocus class="form-control" id="product_name_input" placeholder="Enter Product Name" required {% if product_name %}value="{{ product_name }}"{% endif %}>

            {% if product_name_error %}
                <div class="invalid_feedback">
                    {{ product_name_error }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="product_price_input">Product Price $ (USD)</label>
            <input type="number" name="product_price" class="form-control" id="product_price_input" placeholder="Enter Product Price ($19.2)" step="any" {% if product_price %}value="{{ product_price }}"{% endif %}>
            <small id="about_store_help" class="form-text text-muted">How much would one of this product cost in USD?</small>

            {% if product_price_error %}
                <div class="invalid_feedback">
                    {{ product_price_error }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="product_quantity_input">Product Quantity</label>
            <input type="number" name="product_quantity" class="form-control" id="product_quantity_input" placeholder="Enter Product Quantity (10)" required step="any" {% if product_quantity %}value="{{ product_quantity }}"{% endif %}>
            <small id="about_store_help" class="form-text text-muted">How many of this product is available for sale?</small>

            {% if product_quantity_error %}
                <div class="invalid_feedback">
                    {{ product_quantity_error }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label for="product_description_textarea">Product Description</label>
            <textarea name="product_description" class="form-control" id="product_description_textarea" aria-describedby="product_description_help" placeholder="Enter Product Description" required>{% if product_description %}{{ product_description }}{% endif %}</textarea>
            <small id="product_description_help" class="form-text text-muted">Briefly Describe your product.(Ingredients, Usage, Problems it solves and why this product of all others?)</small>

            {% if product_description_error %}
                <div class="invalid_feedback">
                    {{ product_description_error }}
                </div>
            {% endif %}
        </div>

        <div class="form-group">
            <label>Upload Product Picture(s)</label>

            <div id="product_picture_preview_div">
                
            </div>

            <div class="custom-file">
                <input type="file" multiple class="custom-file-input" name="product_pictures_input[]" id="customFile">
                <label class="custom-file-label" for="customFile">Select Picture</label>
            </div>

            {% if file_upload_error %}
                <div class="invalid_feedback">
                    {{ file_upload_error }}
                </div>
            {% endif %}
        </div>

        <button type="submit">Add Product</button>
    </form>

{% endblock main %}
